.Header {
    // border: 1px solid #f00;
    max-width: 1200px;

    // center
    margin-left: auto;
    margin-right: auto;
}

.Box-Form-Wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.TextField {
    margin-right: 20px;
    width: 380px;
}